* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	text-align: center;
	background: url(../imagen/login1.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
}

.contenedor-form {

	background: rgba(0,0,0,.7);
	width: 100%;
	max-width: 500px;
	margin: 48px auto;
	color: #fff;
	border-radius: 5px;
	padding: 40px;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="nombre"],
.contenedor-form input[type="apellido"],
.contenedor-form input[type="correo"],
.contenedor-form input[type="password"],
.contenedor-form input[type="teléfono"] {
	width: 70%;
	padding: 5px 15px;
}

.contenedor-form input[type="submit"] {
	background: #0D9EDD;
    width: 50%;
    padding: 8px;

}



